.dashboard{
  margin:15px 50px;
}
.search_bar_btn{

}
.slect_categories{
  font-weight: bold;
  font-size:19px;
}
.logo_img {
  width: 30px;
  height: 30px;
}

.filter_icon_img{

}
.actionbar{
  margin-top:67px;
}
.filter{
  font-style: normal;
}
.filter{
  float: right;
  margin-right: 40px;
  font-style: normal;
  margin-top: -25px;
}
.category__item{
	cursor:pointer;
	padding-bottom: 3px;
}

.category__title{
  width:82px;
  padding-top: 5px;
  margin-left: 5px;
  
}
.category__item {
    text-align: center;
    margin-left: 40px;
    display: flex;
}
.category__item.active {
    border-bottom: 2px solid green;
}
.img_item{
  width:800px;
  height:600px;
}
.item__pic{
  	text-align:center;
    height: 600px;
    overflow: hidden;
}

.item__info{
  padding-left: 60px;
  margin-top:10px;
  font-size: 24px;
}
.btn__item-order{
  background: #2e972f;
  color: white;
  border-radius: 5px;
  margin-top:-50px; 
  padding: 10px;
  font-size: 14px;
  width: 132px;
  border-style: none;
  margin-right: 60px;
}
.item__price{
  display:inherit;
  font-weight:bold;
}
.item__type{
  font-weight: bold;
}